appdirs==1.4.4
attrs==23.2.0
build==1.2.1
certifi==2024.2.2
charset-normalizer==3.3.2
fs==2.4.16
idna==3.7
Naked==0.1.32
netifaces==0.11.0
numpy==1.26.4
pathvalidate==3.2.0
platformdirs==4.2.0
pycryptodome==3.20.0
PySide6==6.7.0
PySide6_Addons==6.7.0
PySide6_Essentials==6.7.0
python-dateutil==2.9.0.post0
PyYAML==6.0.1
requests==2.31.0
shellescape==3.8.1
shiboken6==6.7.0
six==1.16.0
titlecase==2.4.1
twine==5.0.0
urllib3==2.2.1
