appdirs==1.4.4
attrs==24.2.0
build==1.2.2.post1
certifi==2024.8.30
charset-normalizer==3.4.0
fs==2.4.16
idna==3.10
Naked==0.1.32
netifaces==0.11.0
numpy==1.26.4
pathvalidate==3.2.1
platformdirs==4.2.0
pycryptodome==3.21.0
PySide6==6.8.1
PySide6_Addons==6.8.1
PySide6_Essentials==6.8.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
shellescape==3.8.1
shiboken6==6.8.1
six==1.17.0
titlecase==2.4.1
twine==6.0.1
urllib3==2.2.3
